.wrapper {
    display: flex;
    padding-top: 50px;
    margin-bottom: 80px;
    justify-content: center;
}
.greetings {
    max-width: 500px;
    text-align: center;
    // background: #FFF;
    & a {
        text-decoration: none;
        color: black;
        font-weight: bold;
        transition: all 0.5s ease;
        &:hover {
            color: #f04037;
        }
    }
}