.wrapper {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}
.detailsCard {
    display: flex;
    flex-direction: column;
    max-width: 600px;



    & h4 {
        font-weight: 700;
        text-align: center;
    }
    & button {
        font-family: 'Roboto Slab', serif;
    }

    padding: 20px;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.6s cubic-bezier(.25,.8,.25,1);
    &:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
}
.detailsCardHeader {
    display: flex;
    justify-content: center;
    align-items: center;
}
.detailsStats {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.detailsPrice {
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #f2f2f2;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    & span {
        font-weight: bold;
    }
}